
.header-design {

    height: 10vh;
    width: 100vw;

    background: url('../../assets/images/wallpaper.jpeg');
    /* border: 2px solid rgba(9, 9, 9, 0.2); */
    border-bottom: 3px solid rgb(251, 251, 252);
    /* backdrop-filter: blur(30px); */
    box-shadow: 0 0 10px rgba(0, 0, 0,.2);
   
   

    display: flex;
    justify-content: center;
    align-items: flex-end;
}

