.profile-design {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: url("../../assets/images/wallpaper.jpeg");
  margin: 0;
  padding: 0;
}
/* .profile-design {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  } */
  
  .title-design {
    text-align: center;
    width: 100%;
    margin-bottom: 20px; /* Espacio entre el título y el contenido debajo */
  }
  
  .card-design {
    flex-grow: 1; /* Toma todo el espacio disponible */
  }
  
  .boxpost-design {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .input-group {
    flex-basis: 30%; /* Ajusta según necesidad, representa el ancho del input group */
  }
  
  .posts-container {
    display: flex;
    width: 100%;
  }
  
  .posts-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  



.input-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.block-text {
  border-color: #ff00ff !important;
  resize: none !important;
}

  
.post-item {
    margin-bottom: 10px;
  }
  





