.home-design {
  display: flex;
  flex-direction: column;  
  justify-content: flex-start; 
  align-items: stretch; 
  height: 100vh;
  width: 100vw;
  background: url("../../assets/images/wallpaper.jpeg");
  margin: 0; 
  padding: 0; 
  /* display: flex;

  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: url("../../assets/images/wallpaper.jpeg");
  margin: 0;
  padding: 0; */
}

.card-design {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  justify-content: center;
  padding: 20px;
}
.home-design > * {
  margin: 9px;
}
.kawaidev-design {
  font-size: larger;
  font-weight: bolder;
}
.banner-design{
  height: 50vh; 
  width: 100%; 
 background-color: blue;
  
  /* background-image: url(../../assets/images/luna.jpg); */
  
  box-sizing: border-box;
  margin-left: 0;
  
 
}

/* div {
  border: 1px solid red;
} */
